
.root {
    max-width: 1000px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em auto auto;
}

.version {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    column-gap: 15px;

    padding: 10px;
    border: 1px dashed #aaaaaa;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.2);
}

.version:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.version > h2 {
    margin: 0;
}

.minecraftLogo {
    background: url(../assets/minecraft-logo.webp);
    background-size: contain;
    width: 100px;
    height: 100px;

    position: relative;

    grid-row: 2 span;
}

.minecraftLogo > span {
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: 1em;
    color: #eeeeee;
    font-weight: bold;
    text-shadow: #000000 1px 0 10px;
}
