
.root {
    background: linear-gradient(180deg, var(--color--navbar-bg-top) 0%, var(--color--navbar-bg-bottom) 100%);
    overflow-y: scroll;
    padding: 5px;
}

.root svg {
    width: 1em;
    height: 1em;
}

.root a {
    display: block;
    color: var(--color-body-text);
}

.root a:hover {
    color: var(--color-link);
    background-color: var(--color--navbar-row-hover);
    text-decoration: none;
}

.root a.active {
    background-color: var(--color--navbar-row-hover);
}

.subLevel {
    margin-left: 24px;
}
