/* Pixeloid Mono font */
@font-face {
    font-family: 'Pixeloid Mono';
    src: url('assets/fonts/PixeloidMono.woff2') format('woff2'),
    url('assets/fonts/PixeloidMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Pixeloid Sans Bold font */
@font-face {
    font-family: 'Pixeloid Sans';
    src: url('assets/fonts/PixeloidSans-Bold.woff2') format('woff2'),
    url('assets/fonts/PixeloidSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Pixeloid Sans Regular font */
@font-face {
    font-family: 'Pixeloid Sans';
    src: url('assets/fonts/PixeloidSans.woff2') format('woff2'),
    url('assets/fonts/PixeloidSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    font-smooth: never;
    -webkit-text-size-adjust: 100%;

    box-sizing: border-box;
}

ul {
    list-style-type: square;
}

hr {
    height: calc(1px * var(--gui-scale));
}

:root {
    --color-body-text: rgb(210, 210, 210);
    --color-link: rgb(0, 213, 255);
    --color-error-text: rgb(255, 0, 0);
    --color-header1-separator: rgba(255, 255, 255, 0.5);
    --color-header2-separator: rgba(210, 210, 210, 0.5);
    
    --color--navbar-bg-top: rgba(0, 0, 0, 0.5);
    --color--navbar-bg-bottom: rgba(0, 0, 0, 0.25);
    --color--navbar-row-hover: rgb(33, 33, 33);
    --color--navbar-expand-arrow: rgb(238, 238, 238);
    --color--table-border: rgb(124, 124, 124);
    --color--icon-button-normal: rgb(200, 200, 200);
    --color--icon-button-disabled: rgb(64, 64, 64);
    --color--icon-button-hover: rgb(0, 213, 255);
    --color--in-world-block-highlight: #999999cc;
    --color--scene-background: rgba(0, 0, 0, 0.08);

    /* Global UI scale mimicking the Minecraft scaling */
    --gui-scale: 3;

    --document-rect-margin: calc(20px * var(--gui-scale));

    color: var(--color-body-text);

    background-image: url('assets/sky_stone_block.png');
    background-color: rgb(64, 64, 64);
    background-size: calc(32px * var(--gui-scale));
    background-blend-mode: multiply;
    image-rendering: pixelated;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 120%;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    --minecraft-font: Pixeloid Sans, sans-serif;
}

:root > * {
    image-rendering: unset;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


/* Heading reset */
h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
}

th {
    font-weight: bold;
    font-family: var(--minecraft-font);
}

h1 {
    border-bottom: 1px solid var(--color-header1-separator);
    font-size: 1.3rem;
    color: white;
    font-family: var(--minecraft-font);
}

h2 {
    border-bottom: 1px solid var(--color-header2-separator);
    font-size: 1.1rem;
    font-family: var(--minecraft-font);
}

h3 {
    font-size: 1rem;
    font-family: var(--minecraft-font);
}

h4 {
    font-size: 1.1rem;
    font-weight: bold;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
}

h6 {
    font-size: 1rem;
}

article > nav {
    overflow-y: scroll;
}

a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    html {

    }
}

.item-icon {
    width: calc(16px * var(--gui-scale));
    height: calc(16px * var(--gui-scale));
}
